body {
	background-image: url(../imagenes/indie1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	text-align: center;
}
.tarjeta{
	background: #26a69a;
	color: white;
	height: 8rem;
}
.publi{
	background: #00796b;
	color: white;
	height: 10rem;
	margin-top: 5%;
}
.ocultar{
	display: none;
}
img{
	width: 5rem;
	height: 5rem;
	cursor: pointer;
}
.caja {
	background: #00796b;
	color: white;
	height: 10rem;
	margin-top: 5%;
}